<ion-view view-title="Our Predictions">
  <ion-content>
      <qual_area1 id = "qual_area1"></qual_area1>
        <qual_area id = "qual_area"></qual_area>
          
         <div class="card">
				<div class="item item-divider">
					Movie Tweets Word Cloud
				</div>
				<div class="item item-text-wrap">
        <select ng-model="movie" ng-options="movie.Title for movie in movies" ng-change="getMovie(movie)">
    <option value="">-- choose movie --</option>
  </select>
  </div>
				<div class="item item-text-wrap">
  <wordcloud id = "wordcloud" ng-show="showChart"></wordcloud>
  </div>
   </ion-content>  
</ion-view>
