<ion-view view-title="Our Predictions">
  <ion-content>
      <qual_area1 id = "qual_area1"></qual_area1>
        <qual_area id = "qual_area"></qual_area>
          <ion-header-bar align-title="left" class="bar-positive">
         </ion-content>   
         <ion-content>
  <h1 class="title">Movie Tweets Word Cloud</h1>
</ion-header-bar>
        <select ng-model="movie" ng-options="movie.Title for movie in movies" ng-change="getMovie(movie)">
    <option value="">-- choose movie --</option>
  </select>
  <wordcloud id = "wordcloud" ng-show="showChart"></wordcloud>
   </ion-content>  
</ion-view>
