
<ion-view view-title="Twitter Sentiment">
  <ion-content class="padding">
<div class="card">
				<div class="item item-divider">
					Opening week revenue for movies released in first week of April 2015
				</div>
				<div class="item item-text-wrap">
<chart1 id = "chart1">{{chart1}} </chart1>
</div>

<div class="card">
				<div class="item item-divider">
					Twitter Sentiments for the movies
				</div>
				<div class="item item-text-wrap">
<chart2 id = "chart2"> {{chart2}}</chart2>
</div>
</div>
 </ion-content>
</ion-view>

