<ion-view view-title="Our Predictions">
  <ion-content>
  <ion-pane>
      <qual_area1 id = "qual_area1"></qual_area1>
        <qual_area id = "qual_area"></qual_area>
        </ion-pane>
        <ion-pane>
        <select ng-model="movie" ng-options="movie.Title for movie in movies" ng-change="getMovie(movie)">
    <option value="">-- choose movie --</option>
  </select>
   </ion-pane>
   <ion-pane>
  <wordcloud id = "wordcloud" ng-show="showChart"></wordcloud>
  </ion-pane>
   </ion-content>
</ion-view>
