.barpositive {
  fill: #d95f0e;
}

.barnegative {
  fill: #fec44f;
}

.axis text {
  font: 10px sans-serif;
}
.xaxis1{
 font: 0px sans-serif;
 stroke: #000;
 fill: none;
 shape-rendering: crispEdges;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path,
      .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }
      
      .axis text {
        font-family: sans-serif;
        font-size: 13px;
      }

      .bar{
        fill:teal;
      }

#qual_area
{
  width: 700px;
  float:left;
}

#points_area
{
  width: 700px;
  float:left;
}

#energy_area
{
  width: 700px;
  float:left;
}

#duration_area
{
  width: 700px;
  float:left;
}
#acousticness_area
{
  width: 700px;
  float:left;
}

#danceability_area
{
  width: 700px;
  float:left;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: steelblue;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.axis {
  font: 12px sans-serif;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.x.axis path { 
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#chart {
  margin-left: -40px;
  height: 506px;
}

text {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}
